@import "../../index.module";

.services-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    z-index: 2;
  }

  .services-inner-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 75rem;
    justify-content: center;
    align-items: center;
    padding: 8rem 3rem;
  }
}

.services-section::before {
  content: "services";
  color: $light-purple;
  font-size: 17.5vw;
  width: 100%;
  display: block;
  position: absolute;
  text-align: center;
  top: 5%;
  z-index: 1;

  @include for-desktop-and-up {
    top: 2.5%;
    font-size: 10rem;
  }
}