@import "../../index.module";

.projects-section {
  border: none;
  background-color: $light-gray;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  width: 100%;

  * {
    border: none;
  }
}