@import "../../index.module";

.project-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 35rem;

  @include for-desktop-and-up{
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
  }

  .projects-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    @include for-desktop-and-up {
      width: 45%;
    }
  }

  .image-wrapper, .article-title, .squiggle-line, .article-text, .project-link {
    margin: 1rem 0;
  }

  .image-wrapper {
    display: inline-block;
    width: 100%;

    @include for-desktop-and-up {
      width: 45%;
    }
  }

  .work-image {
    width: 100%;
  }

  .article-title {
    text-transform: capitalize;
  }

  .project-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
    letter-spacing: 0.05rem;
    color: $purple;
  }
}

@include for-desktop-and-up {
  .project-article:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}