@import "../../index.module";

.information-section {
  border: none;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    border: none;
  }

  .information-text {
    text-align: center;
    color: $purple;
    margin-bottom: 1rem;

    @include for-desktop-and-up {
      display: flex;
      max-width: 35rem;
    }
  }

  .information-span {
    margin-top: 1rem;

    .hash-link {
      text-decoration: none;
      color: $purple;
    }
  }
}